{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
<!-- US7 Yo como administrador quiero registrar un torneo -->
<!-- US11 Yo como administrador quiero registrar una convocatoria -->

<div class="title-container">
  <h2>Agregar Torneo<h2>
</div>
<form class="container" action="{% url 'torneo:crear_torneo' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="col s12 m6 l6">
      <p>
        <label>
          {{ form.nombre.label_tag }}
        </label>
        {{ form.nombre }}
      </p>
      {{ form.nombre.errors }}
    </div>
    <div class="col s12 m2 l2" id="min">
      <p>
        <label>
          {{ form.categoria.label_tag }}
        </label>
        {{ form.categoria }}
      </p>
      {{ form.categoria.errors }}
    </div>
    <div class="col s12 m2 l2" id="max">
      <p>
        <label>
          {{ form.categoria_max.label_tag }}
        </label>
        {{ form.categoria_max }}
      </p>
      {{ form.categoria_max.errors }}
    </div>
    <div class="col s12 m2 l2">
        <p>
          <br>
          <label>
            <input type="checkbox" id="chk" />
            <span>Categoria Libre</span>
          </label>
        </p>
      </div>
    <div class="col s12">
      <label>
          {{ form.fecha_inicio.label_tag }}
        </label>
      <input type="date" name="{{form.fecha_inicio.html_name}}" required="" class="datepicker" id="{{form.fecha_inicio.id_for_label}}" /> {{ form.fecha_inicio.errors }}
    </div>
      <div class="col s12">
            <p>
              <label>
                  {{ form.fecha_junta.label_tag }}
              </label>
            {{ form.fecha_junta }}
          </p>
            {{ form.fecha_junta.errors }}
        </div>
    <div class="col s12" style="margin-top:24px">
      <div class="file-field input-field">
        <div class="btn">
          <span>Anexo</span>
          <input type="file" name="anexo">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <div class="col s12">
      <p>
        <label>
          {{ form.costo.label_tag }}
        </label>
        <input name="costo" type="number" min="0.00" max="10000.00" step="0.01" />
      </p>
      {{ form.costo.errors }}
    </div>
      <div class="col s12">
          <p>
            <label>
              {{ form.costo_credencial.label_tag }}
            </label>
            <input name="costo_credencial" type="number" min="0.00" max="10000.00" step="0.01" />
          </p>
          {{ form.costo_credencial.errors }}
      </div>
    <div class="col s12">
      <p>
        <label>
          {{ form.equipos.label_tag }}
        </label> {{ form.equipos }}
      </p>
      {{ form.equipos.errors }}
    </div>
    <div class="col s12">
      <div class="container-button">
        <a href="{% url 'torneo:lista_torneos' %}" class="cancel">Cancelar</a>
        <button class="submit" type="submit">Guardar</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
  </script>
  <script>
    $(function() {
      var checkbox = $("#chk");
      var hidden1 = $("#min");
      var hidden2 = $("#max");
      var hiddena = document.getElementById("id_categoria");
      var hiddenb = document.getElementById("id_categoria_max");
      checkbox.change(function() {
        // Check to see if the checkbox is checked.
        // If it is, show the fields and populate the input.
        // If not, hide the fields.
        if (checkbox.is(':checked')) {
          // Show the hidden fields.
          hidden1.hide();
          hiddena.value= 0;
          hidden2.hide();
          hiddenb.value = 100;
          // Populate the input.
        } else {
          // Make sure that the hidden fields are indeed
          // hidden.
          hidden1.show();
          hidden2.show();
        }
      });
    });
  </script>
{% endblock %}
