<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Plan Libélula Desarrollo Integral</title>
        <!--Import Google Icon Font-->

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table td, th {
    text-align: left;
}


table.left {
    width: 50%;
    float: left;

}

table.right {
    width: 50%;
    float: right;
}



    table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}

tr:nth-child(even) {background-color: #a9a9a9;}

th {
    background-color: black;
    color: white;
}
    table {
    width: 100%;
}
    table, h1,h2, th, tr, td, body{
        font-family: 'Roboto', sans-serif;
    }
    @page {
size: A4 portrait;
}



body{
    font-size: 10px;
}


</style>
<body>
<h1>Plan Libélula Desarollo Integral</h1><bt></bt>
<h2 style="text-align: center">{{ partido.equipo_local.nombre }}&nbsp;&nbsp;&nbsp;&nbsp;VS&nbsp;&nbsp;&nbsp;&nbsp;   {{ partido.equipo_visitante.nombre }}</h2><br>



<div class="row">
    <h4>Arbitro: &nbsp;&nbsp;&nbsp;&nbsp;  __________________________________</h4>
</div>
<div class="row">
    <h4>Auxiliar 1: __________________________________</h4>
</div>
<div class="row">
    <h4>Auxiliar 2: __________________________________</h4>
</div>
<br>




<div>
    <table  class="left" id="t1">
            <thead>
                <tr>
                    <td style="text-align: left;  background-color: white">Representante  {{ partido.equipo_local.nombre}}: {{ partido.equipo_local.representante }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;  background-color: white">Capitán: ___________________</td>
                </tr>
            </thead>

    </table>

    <table  class="left" id="t1">
            <thead>
                <tr>
                    <td style="text-align: left; background-color: white">Representante  {{ partido.equipo_visitante.nombre}}: {{ partido.equipo_visitante.representante }}</td>
                </tr>
                <tr>
                    <td style="text-align: left;  background-color: white">Capitán: ___________________</td>
                </tr>
            </thead>

    </table>



</div>




<br>
<br>
<br>

<div>
 <table  class="left" id="t1">
            <thead>
                <tr>
                    <th>Asis.</th>
                    <th>No.</th>
                    <th>Nombre Completo</th>
                    <th>Goles</th>
                    <th>AM</th>
                    <th>EXP</th>
                </tr>
            </thead>

            <tbody>

                {% for jugadora in partido.equipo_local.jugadoras.all %}
                    <tr>
                    <td></td>
                    <td>{{ jugadora.numero }}</td>
                    <td><p>{{ jugadora.nombre }} {{ jugadora.apellido }}</p></td>
                    <td></td>
                    <td></td><td></td>

                     </tr>
                {% endfor %}

            </tbody>
        </table>
 <table  class="right" id="t2">
            <thead>
                <tr>
                    <th>Asis.</th>
                    <th>No.</th>
                    <th>Nombre Completo</th>
                    <th>Goles</th>
                    <th>AM</th>
                    <th>EXP</th>


                </tr>
            </thead>

            <tbody>

                {% for jugadora in partido.equipo_visitante.jugadoras.all %}
                     <tr>
                    <td></td>
                    <td>{{ jugadora.numero }}</td>
                    <td><p>{{ jugadora.nombre }} {{ jugadora.apellido }}</p></td>
                    <td></td>
                    <td></td>
                    <td></td>
                     </tr>
                {% endfor %}

            </tbody>
        </table>
</div>

<div>

        <h3>Total de Goles: &nbsp;&nbsp;&nbsp;&nbsp;{{partido.equipo_local.nombre}}:________________  VS {{partido.equipo_visitante.nombre}}________________ </h3>

    <h3>Tarjeta Azul: (Fair Play):</h3>
                <div class="col s4 align-wrapper"><br><hr></div>

    <h3>Cambios:</h3>
            <div class="col s4 align-wrapper"><br><hr></div>
            <div class="col s4 align-wrapper"><br><hr></div>
            <div class="col s4 align-wrapper"><br><hr></div><div class="col s4 align-wrapper"><br><hr></div>
            <div class="col s4 align-wrapper"><br><hr></div>
            <div class="col s4 align-wrapper"><br><hr></div>


    <h3>Incidentes:</h3>
            <div class="col s4 align-wrapper"><br><hr></div>

            <div class="col s4 align-wrapper"><br><hr></div>

            <div class="col s4 align-wrapper"><br><hr></div>
</div>



</body>
</html>
