{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="title-container">
  <h2>Editar Partido<h2>
</div>
<form class="container" method="POST" >
  {% csrf_token %}
  <div class="row">
    <div class="col s6 m6 l6">
      <p>
        <label>
          {{ form.fecha.label_tag }}
        </label>
        <input type="date" name="{{form.fecha.html_name}}" class="datepicker" id="{{form.fecha.id_for_label}}" value="{{ form.fecha.value|date:"Y-m-d" }}" required/>
        <span class="helper-text">Fecha debe estar entre {{partido.jornada.fecha_inicio}} y {{partido.jornada.fecha_fin}}</span>
      </p>
      {{ form.fecha.errors }}
    </div>
    <div class="col s6 m6 l6">
      <p>
        <label>
          {{ form.hora.label_tag }}
        </label>
        <input type="text" name="{{form.hora.html_name}}" class="timepicker" id="{{form.hora.id_for_label}}" value="{{ form.hora.value}}" required/>
      </p>
      {{ form.hora.errors }}
    </div>
    <div class="input-field col s12 m12 l12">
        <select name="{{form.cancha.html_name}}" id="{{form.cancha.id_for_label}}" value="{{ form.cancha.value}}" required>
          {% if partido.equipo_local.cancha == form.cancha.value %}
          <option value="{{partido.equipo_local.cancha}}" selected>{{partido.equipo_local.cancha}}</option>
          {%else%}
          <option value="{{partido.equipo_local.cancha}}">{{partido.equipo_local.cancha}}</option>
          {%endif%}
          {% if partido.equipo_visitante.cancha == form.cancha.value %}
          <option value="{{partido.equipo_visitante.cancha}}" selected>{{partido.equipo_visitante.cancha}}</option>
          {%else%}
          <option value="{{partido.equipo_visitante.cancha}}">{{partido.equipo_visitante.cancha}}</option>
          {%endif%}
        </select>
        <label>
          {{ form.cancha.label_tag }}
        </label>
      {{ form.cancha.errors }}
    </div>
    <div class="col s12">
      <div class="container-button">
        <a href="{% url 'torneo:editar_registro' partido.jornada.torneo.id %}" class="cancel">Cancelar</a>
        <button class="submit" type="submit">Guardar</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}

<script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
</script>
