{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
<div class="title-container">
  <h2>Agregar Jornada a: {{ torneo.nombre }}<h2>
</div>
<form class="container" action="{% url 'torneo:nueva_jornada' torneo.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
    <div class="col s6 m6 l6">
        <label>
          {{ form.jornada.label_tag }}
        </label> {{ form.jornada }}
      {{ form.jornada.errors }}
    </div>
    <div class="col s3">
      <label>
          {{ form.fecha_inicio.label_tag }}
        </label>
      <input type="date" name="{{form.fecha_inicio.html_name}}" required="" class="datepicker" id="{{form.fecha_inicio.id_for_label}}" /> {{ form.fechaInicio.errors }}
    </div>
    <div class="col s3">
      <label>
          {{ form.fecha_fin.label_tag }}
        </label>
      <input type="date" name="{{form.fecha_fin.html_name}}" required="" class="datepicker" id="{{form.fecha_fin.id_for_label}}" /> {{ form.fechaInicio.errors }}
    </div>
    <div class="col s12">
      <div class="container-button">
        <a href="{% url 'torneo:editar_registro' torneo.id %}" class="cancel">Cancelar</a>
        <button class="submit" type="submit">Guardar</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}

<script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
</script>
