<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>

    <meta charset="UTF-8">
     <meta charset="utf-8">
        <title>Plan Libélula Desarrollo Integral</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


      <meta charset="utf-8">
        <title>Plan Libélula Desarrollo Integral</title>
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
        {% if request.resolver_match.app_name == 'landing' %}
          <link rel="stylesheet" href="{% static '/css/landing.css' %}">
        {% else %}
          <link rel="stylesheet" href="{% static '/index.css' %}">
        {% endif %}
        {% block styles %}
        {% endblock %}
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>

  <link rel="stylesheet" href="{% static 'css/landing/main.css' %}">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


<style>
    table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
    tr:nth-child(odd) {background-color: #a9a9a9;}
th {
    background-color: black;
    color: white;
}
    table {
    width: 100%;
}
    table, h1,h2, th, tr, td, body{
        font-family: 'Roboto', sans-serif;
        font-size: 10px;

    }
    @page {
size: A4 landscape;
}


</style>
<body>
<img src="{% static 'static_media/logo.svg' %}" height="100%" width="50px"/><br>
<h1>Plan Libelula Desarollo Integral</h1>
<br>
<h2>Informacion de la jornada {{ jornada.jornada }} del torneo {{ torneo.nombre }}</h2>
<h8>Accede al sitio: http://planlibelula.com/torneo/accesar_cedula/ </h8><br><br>
<h8>ID_Torneo: {{ torneo.id }} </h8>

<br><br>
<table>
 <tr>
    <th>Equipo<br>Local</th>
    <th>Equipo<br>Visitante</th>
    <th>Arbitro</th>
    <th>Fecha</th>
    <th>Hora</th>
    <th>Cancha</th>
    <th>Codigo de acceso</th>
 </tr>
{% for partido in jornada.partido_set.all %}
    <tr>
        <td>{{ partido.equipo_local }}</td>
        <td>{{ partido.equipo_visitante }}</td>
        <td>{{ partido.arbitro }}</td>
        <td>{{ partido.fecha }}</td>
        <td>{{ partido.hora }}</td>
        <td >{{ partido.cancha }}</td>
        <td >{{ partido.id }}</td>
    </tr>


{% endfor %}
</table>





</body>
</html>