{% extends "base.html" %}
{% load static %}
{% block main %}
<form class="container" method="POST" action="{% url "torneo:registrar_cedula" id_torneo id_partido %}">
  {% csrf_token %}
  <div class="row">
    <div class="col s12 m12 l12 center">
      <h6>Plan Libélula de Desarrollo Integral</h6>
      <h5>Cédula Arbitral</h5>
    </div>
    <div class="col s12 m12 l12 center">
      <h6>Estadio: {{partido.cancha}}</h6>
      <h6>{{partido.fecha}} - {{partido.hora}}</h6>
    </div>
  </div>
  <!-- Versión de Escritorio -->
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="row">
        <div class="col s12 m6 l8 center">
          <h5>{{equipo_local.nombre}}</h5>
        </div>
        <div class="input-field col s12 m6 l4">
          <input value="{{partido.goles_local}}" id="{{form.goles_local.id_for_label}}" name="{{form.goles_local.html_name}}" type="number" min="0" max="20">
        </div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <div class="row">
        <div class="input-field col s12 m6 l4">
          <input value="{{partido.goles_visitante}}" id="{{form.goles_visitante.id_for_label}}" name="{{form.goles_visitante.html_name}}" type="number" min="0" max="20">
        </div>
        <div class="col s12 m6 l8 center">
          <h5>{{equipo_visitante.nombre}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l12">
      <table class="striped">
        <thead>
          <tr>
            <th>{{equipo_local.nombre}}</th>
            <th>{{equipo_visitante.nombre}}</th>
          </tr>
        </thead>
        <tbody>
          {% for key, values in jugadoras.items %}
            {% if forloop.counter|divisibleby:"2" == 0 %}
              <tr>
                {% if values.id != "nada" %}
                  <td>
                    <label>
                      <input type="checkbox" jugadora="{{values.id}}" partido="{{id_partido}}" equipo="{{values.equipo}}" {% if values.asistencia == 1 %}checked{% endif %}>
                      <span>{{values.numero}} : {{values.nombre}}</span>
                    </label>
                  </td>
                {% else %}
                  <tr>
                    <td></td>
                {% endif %}
            {% else %}
              {% if values.id != "nada" %}
                  <td>
                    <label>
                      <input type="checkbox" jugadora="{{values.id}}" partido="{{id_partido}}" equipo="{{values.equipo}}" {% if values.asistencia == 1 %}checked{% endif %}>
                      <span>{{values.numero}} : {{values.nombre}}</span>
                    </label>
                  </td>
                </tr>
              {% else %}
                  <td></td>
                </tr>
              {% endif %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m12 l12">
      <textarea id="{{form.notas.id_for_label}}" name="{{form.notas.html_name}}" class="materialize-textarea">{{partido.notas}}</textarea>
      <label for="{{form.notas.id_for_label}}">Notas</label>
    </div>
    <div class="input-field col s12 m12 l12 center">
        <input placeholder="Árbitro" value="{{partido.arbitro}}" id="{{form.arbitro.id_for_label}}" name="{{form.arbitro.html_name}}" type="text" class="validate">
        <label for="{{form.arbitro.id_for_label}}">Árbitro</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l12 m12 center">
      <button class="btn" type="submit">Enviar</button>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
<script src=" https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
              <script type="text/javascript" src="{% static '/index.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $('select').formSelect();
        $('input[type=checkbox]').change(function(e) {
          var url = '{% url "torneo:registrar_asistencia" %}';
          var id_partido = $(this).attr('partido') ;
          var id_jugadora = $(this).attr('jugadora') ;
          var id_equipo = $(this).attr('equipo') ;
          var estado = $(this).is(":checked") ;
          var contexto = {"id_partido":id_partido, "id_jugadora":id_jugadora, "id_equipo":id_equipo, "estado":estado} ;
          $.ajax({
            type: 'POST',
            url: url,
            data: contexto,
            success: function () {
              // Por ahora no ocupamos retroalimentación de cada asistencia.
            },
            error: function (xhr, status, error) {
              alert(xhr.responseText);
            }
         });
        });
    });

</script>
{% endblock %}
