{% extends "base.html" %}
{% load staticfiles %}
{% block main %}

<div class="title-container">
  <h2 class="admin-title">Torneos</h2>
</div>
<div class="container">
  <ul class="collection">
    {% for Torneo in lista_torneos %}
    <li class="collection-item avatar fix">
      <span class="title"><a href="{% url 'torneo:detalle_torneo' Torneo.id %}">{{ Torneo.nombre }}</a></span>
      <p>Fecha: {{ Torneo.fechaInicio }}</p>
      <div class="secondary-content">
        {% if Torneo.activo %}
        <a href="#" data-target="delete" data-form="{% url 'torneo:eliminar_torneo' Torneo.id %}" class="delete-button">
          <i class="medium material-icons icon-red">delete</i>
        </a>
        <a href="{% url 'torneo:cerrar_registro' Torneo.id %}">
           <i class="medium material-icons icon-green">done_all</i>
         </a>
        <a href="{% url 'torneo:editar_torneo' Torneo.id %}">
           <i class="medium material-icons icon-blue">mode_edit</i>
         </a>
         {% endif %}
      </div>
    </li>
    {% empty %}
    <li>No hay torneos registrados aun.</li>
    {% endfor %}
  </ul>
  <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red-background" href="{% url 'torneo:crear_torneo'%}">
    <i class="material-icons waves-effect waves-light">add</i>
  </a>
  </div>
</div>
{% endblock %}
