{% extends "base.html" %}
{% load staticfiles %}
{% block main %}

<div class="title-container">
  <h2 id="team-title">Informacion de Torneo</h2>
  <h2 class="hidden" id="player-title">Jugadoras - {{equipo.nombre}}</h2>
</div>
<div class="container">
  <div class="row tab-row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a id='info' href="#informacion">Información</a>
          <li class="tab col s3"><a id='player' href="#jugadoras">Jugadoras</a>
      </ul>
    </div>
  </div>

  <div class="row" id="informacion">
    <div class="col s12 m12">
      <div class="input-field col s12">
        <input disabled value="{{torneo.nombre}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;" />
        <label for="disabled">Nombre</label>
      </div>
      <div class="input-field col s12">
        <input disabled value="{{torneo.categoria}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;" />
        <label for="disabled">Categoría</label>
      </div>
      <div class="input-field col s12">
        <input disabled value="{{torneo.fechaInicio}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;" />
        <label for="disabled">Fecha de Inicio</label>
      </div>
      <div class="input-field col s12">
        <input disabled value="{{torneo.costo}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;" />
        <label for="disabled">Costo</label>
      </div>
    </div>
    <div class="file-field col 12 input-field">
      <div class="file-path-wrapper">
        {% if torneo.anexo == '' %}
          <p><strong>Anexo: </strong>No hay ningún anexo</p>
        {% else %}
          <p><strong>Anexo: </strong><a href="{{ torneo.anexo.url }}">{{torneo.anexo.name}}</a> </p>
        {% endif %}
      </div>
    </div>
    <div class="col s12 m12">
      <h4>Equipos</h4>
      <ul class="collection">
        {% for Equipo in equipos %}
        <li class="collection-item avatar">
          <img src="{{ Equipo.logo.url }}" alt="" class="circle">
          <span class="title"><a href="{% url 'equipo:detalle_equipo' Equipo.id %}">{{ Equipo.nombre }}</a></span>
          <p>Representante: {{ Equipo.representante }}</p>
          <div class="secondary-content">
            {% if torneo.activo %}
            <a href="{% url 'torneo:eliminar_equipo' Equipo.id torneo.id %}"><i class="material-icons icon-red">cancel</i></a>
            {% endif %}
          </div>
        </li>
        {% empty %}
        <li>No hay equipos registrados aun.</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col s12 m12" style="margin-top: 24px">
      <a href="{% url 'torneo:lista_torneos' %}" class="cancel back">Regresar</a>
    </div>
  </div>

    <div class="row" id="jugadoras">
        <ul class="collection">
            {% for jornada in torneo.jornada_set.all %}
                <li class="collection-item avatar">
                <img src="{% static 'static_media/default.jpg' %}" alt="" class="circle" />
                    <span class="title">Jornada: {{ jornada.jornada }}</span>
                    <p><strong>Fecha de Inicio:</strong> {{jornada.fecha_inicio}}</p>
                    <p><strong>Fecha de Fin:</strong> {{jornada.fecha_inicio}}</p>
                 <div class="secondary-content">
                  <a href="{% url 'torneo:mandar_codigoCedula' torneo.id jornada.id %}">
                     <i class="medium material-icons icon-blue">mode_eject</i>
                   </a>
                </div>
                </li>
            {% empty %}
                <li>No hay jornadas registradas en este torneo aun.</li>
            {% endfor %}
        </ul>
    </div>
</div>
  <script>
  document.getElementById('player').onclick = function() {
    if (document.getElementById('player-title').className === 'hidden') {
      document.getElementById('player-title').classList.remove('hidden');
      document.getElementById('team-title').classList.add('hidden');
    }
  }

  document.getElementById('info').onclick = function() {
    if (document.getElementById('team-title').className === 'hidden') {
      document.getElementById('team-title').classList.remove('hidden');
      document.getElementById('player-title').classList.add('hidden');
    }
  }
  </script>
  {% endblock %}
