{% extends "base.html" %}
{% load staticfiles %}
{% block main %}

<div class="title-container">
  <h2>Editar Torneo<h2>
</div>
<form class="container" novalidate action="{% url 'torneo:editar_torneo' torneo.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col s12 m6 l6">
        <p>
          <label>
            {{ form.nombre.label_tag }}
          </label>
          {{ form.nombre }}
        </p>
        {{ form.nombre.errors }}
      </div>
      <div class="col s12 m2 l2" id="min">
        <p>
          <label>
            {{ form.categoria.label_tag }}
          </label>
          {{ form.categoria }}
        </p>
        {{ form.categoria.errors }}
      </div>
      <div class="col s12 m2 l2" id="max">
        <p>
          <label>
            {{ form.categoriaMax.label_tag }}
          </label>
          {{ form.categoriaMax }}
        </p>
        {{ form.categoriaMax.errors }}
      </div>
      <div class="col s12 m2 l2">
        <p>
          <br>
          <label>
            <input type="checkbox" id="chk" />
            <span>Categoria Libre</span>
          </label>
        </p>
      </div>
      <div class="col s12">
        <p>
          <label>
              {{ form.fechaInicio.label_tag }}

          </label>
          <input type="date" name="{{form.fechaInicio.html_name}}" required="" value='{{ form.fechaInicio.value|date:"Y-m-d" }}' id="{{form.fechaInicio.id_for_label}}" class="datepicker">
      </p>
        {{ form.fechaInicio.errors }}
      </div>
        <div class="col s12">
            <p>
              <label>
                  {{ form.fechaJunta.label_tag }}
              </label>
            <input type="date" name="{{form.fechaJunta.html_name}}" required="" value='{{ form.fechaJunta.value|date:"Y-m-d" }}' id="{{form.fechaJunta.id_for_label}}" class="datepicker">

          </p>
            {{ form.fechaJunta.errors }}
        </div>
      <div class="col s12" style="margin-top:24px">
        <div class="file-field input-field">
          <div class="btn">
            <span>Anexo</span>
            <input type="file" name="anexo">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" value="{{ form.anexo.value|default:"No hay ningún anexo" }}" type="text">
          </div>
        </div>
      </div>
      <div class="col s12">
        <p>
          <label>
            {{ form.costo.label_tag }}
          </label>
          {{ form.costo }}
        </p>
        {{ form.costo.errors }}
      </div>
      <div class="col s12">
          <p>
            <label>
              {{ form.costoCredencial.label_tag }}
            </label>

              {{ form.costoCredencial }}
          </p>
          {{ form.costoCredencial.errors }}
      </div>
      {% if torneo.activo %}
      <div class="col s12">
        <p>
          <label>
            {{ form.equipos.label_tag }}
          </label> {{ form.equipos }}
        </p>
        {{ form.equipos.errors }}
      </div>
      {% endif %}
      <div class="col s12">
        <div class="container-button">
          <a href="{% url 'torneo:lista_torneos' %}" class="cancel">Cancelar</a>
          <button class="submit" type="submit">Guardar</button>
        </div>
      </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
  <script>
    $(function() {
    
      var checkbox = $("#chk");
      var hidden1 = $("#min");
      var hidden2 = $("#max");
      var hiddena = document.getElementById("id_categoria");
      var hiddenb = document.getElementById("id_categoriaMax");
      
      $( document ).ready(function() {
        if (hiddena.value == 0 && hiddenb.value == 100){
          hidden1.hide();
          hidden2.hide();
          checkbox.prop('checked', true);
        }
      });
      checkbox.change(function() {
        // Check to see if the checkbox is checked.
        // If it is, show the fields and populate the input.
        // If not, hide the fields.
        if (checkbox.is(':checked')) {
          // Show the hidden fields.
          hidden1.hide();
          hiddena.value= 0;
          hidden2.hide();
          hiddenb.value = 100;
          // Populate the input.
          
        } else {
          // Make sure that the hidden fields are indeed
          // hidden.
          hidden1.show();
          hidden2.show();
          
          // You may also want to clear the value of the 
          // hidden fields here. Just in case somebody 
          // shows the fields, enters data to them and then 
          // unticks the checkbox.
          //
          // This would do the job:
          //
          // $("#hidden_field").val("");
        }
      });
    });
  
 
  </script>
{% endblock %}
