.login {
    display: flex;
    height: 100vh;

}

.login > .image-container{
    background-image: url("../static_media/cancha.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

h2{
    color: #fff !important;
    font-size: 3.3em;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 29;
}

h4{
    color: #fff !important;
    font-size: 1.5em;
    line-height: 1.2;
    letter-spacing: 12;
}

.login > .image-container >.text{

    width: 40%;

}

.login-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

}

.login-container > .form-container {

    height: calc(100vh - 42px);
    display: flex;
    justify-content: center;
    align-items: center;


}

.login-container > .logo-container > img {

    height: 42px;

}

.admin-container  {
    display: flex;
    justify-content: space-between;
}
