{% load static %}
<ul class="collection">
  {% for jugadora in jugadoras_equipo %}
  <li class="collection-item avatar">
    {% if jugadora.Imagen %}
      <img src="{{ jugadora.Imagen.url }}" alt="" class="circle" />
    {% else %}
      <img src="{% static 'static_media/default.jpg' %}" alt="" class="circle" />
    {% endif %}
    <span class="title">{{ jugadora.Nombre}} {{ jugadora.Apellido }}</span>
    <p><strong>Fecha de nacimiento:</strong> {{ jugadora.Nacimiento }}</p>
    <div class="flex">
      <p><strong>Número:</strong> {{ jugadora.Numero }}</p>&nbsp;&nbsp;
      <p><strong>Posición:</strong> {{ jugadora.get_Posicion_display }}</p>
    </div>
    {% if validar %}
    <div class="secondary-content">
      <a href="{% url 'administrador:aceptar_jugadora' jugadora.id %}">
        <i class="medium material-icons icon-blue">done</i>
      </a>
      <a href="{% url 'administrador:eliminar_jugadora' jugadora.id equipo.id%}">
        <i class="medium material-icons icon-red">highlight_off</i>
      </a>
   </div>
    {% endif %}
  </li>
    {% empty %}
    <li>No hay jugadoras registradas en este equipo aun.</li>
  {% endfor %}
</ul>
{% if validar %}
<div class="container-button">
  <a href="{% url 'administrador:lista_PreRegistro' %}"><button class="submit" type="button">Terminar Solicitud</button></a>
</div>
{% endif %}
