{% extends "base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/landing/detalle-equipo.css' %}">
{% endblock %}
{% block main %}
<div class="header">
  <div class="image-header"></div>
  <div class="cover"></div>
  <div class="container">
    <div class="image-column">
      <img src={{equipo.logo.url}} alt="{{equipo.nombre}} logo" class="circle"/>
    </div>
    <div class="info-column">
      <h2>{{ equipo.nombre }}</h2>
      <h6><strong>Representante: </strong>{{equipo.representante}}</h6>
      <h6><strong>Cancha: </strong>{{equipo.cancha}}</h6>
      <h6><strong>Horario: </strong>{{equipo.get_dia_display}} {{equipo.hora}}</h6>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <h3>Estadísticas</h3>
    <div class="card-list flex space-between">
      <div class="card">
        <span class="card-title"><strong>MEJOR GOLEADORA </strong></span>
        <ul class="collection">
          {% for goles in top_goles %}
          {% if forloop.first %}
              <li class="collection-item avatar big align-items">
                <a href="{% url 'landing:detalle_jugadora' equipo.id goles.jugadora__id %}">
                  {% if goles.jugadora__imagen %}
                    <img src="/media/{{goles.jugadora__imagen}}" alt="{{goles.jugadora__nombre}} imagen" class="circle big"/>
                  {% else %}
                    <img src="{% static 'static_media/default.jpg' %}" alt="{{goles.jugadora__nombre}} imagen" class="circle big"/>
                  {% endif %}
                  <h6><strong>{{ goles.jugadora__nombre }} {{ goles.jugadora__apellido }}</strong></h6>
                  <h6 class="secondary-content top">{{ goles.goles}}</h6>
                </a>
              </li>
            {% else %}
              <li class="collection-item avatar align-items">
                <a href="{% url 'landing:detalle_jugadora' equipo.id goles.jugadora__id %}">
                  {% if goles.jugadora__imagen %}
                    <img src="/media/{{ goles.jugadora__imagen }}" alt="{{goles.jugadora__nombre}} imagen" class="circle"/>
                  {% else %}
                    <img src="{% static 'static_media/default.jpg' %}" alt="{{goles.jugadora__nombre}} imagen" class="circle"/>
                  {% endif %}
                  <span>{{goles.jugadora__nombre}} {{goles.jugadora__apellido}}</span>
                  <span class="secondary-content no-top">{{ goles.goles }}</span>
                </a>
              </li>
              {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="card">
        <span class="card-title"><strong>FAIR PLAY</strong></span>
        <ul class="collection">
          {% for ta in top_tarjetas_azules %}
            {% if forloop.first %}
              <li class="collection-item avatar big align-items">
                <a href="{% url 'landing:detalle_jugadora' equipo.id ta.jugadora__id %}">
                  {% if ta.jugadora__imagen %}
                    <img src="/media/{{ ta.jugadora__imagen }}" alt="{{ta.jugadora__nombre}} imagen" class="circle big"/>
                  {% else %}
                    <img src="{% static 'static_media/default.jpg' %}" alt="{{ta.jugadora__nombre}} imagen" class="circle big"/>
                  {% endif %}
                  <h6><strong>{{ta.jugadora__nombre}} {{ta.jugadora__apellido}}</strong></h6>
                  <h6 class="secondary-content top">{{ta.ta}}</h6>
                </a>
              </li>
            {% else %}
              <li class="collection-item avatar align-items">
                <a href="{% url 'landing:detalle_jugadora' equipo.id ta.jugadora__id %}">
                  {% if ta.jugadora__imagen %}
                    <img src="/media/{{ ta.jugadora__imagen }}" alt="{{ta.jugadora__nombre}} imagen" class="circle"/>
                  {% else %}
                    <img src="{% static 'static_media/default.jpg' %}" alt="{{ta.jugadora__nombre}} imagen" class="circle"/>
                  {% endif %}
                  <span>{{ta.jugadora__nombre}} {{ta.jugadora__apellido}}</span>
                  <span class="secondary-content no-top">{{ta.ta}}</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="card">
        <span class="card-title"><strong>MÁS AMONESTACIONES </strong></span>
        <ul class="collection">
          {% for tam in top_tarjetas_amarillas %}
            {% if forloop.first %}
              <li class="collection-item avatar big align-items">
                <a href="{% url 'landing:detalle_jugadora' equipo.id tam.jugadora__id %}">
                  {% if tam.jugadora__imagen %}
                    <img src="/media/{{ tam.jugadora__imagen }}" alt="{{tam.jugadora__nombre}} imagen" class="circle big"/>
                  {% else %}
                    <img src="{% static 'static_media/default.jpg' %}" alt="{{tam.jugadora__nombre}} imagen" class="circle big"/>
                  {% endif %}
                  <h6><strong>{{tam.jugadora__nombre}} {{tam.jugadora__apellido}}</strong></h6>
                  <h6 class="secondary-content top">{{tam.tam}}</h6>
                </a>
              </li>
            {% else %}
              <li class="collection-item avatar align-items">
                <a href="{% url 'landing:detalle_jugadora' equipo.id tam.jugadora__id %}">
                  {% if tam.jugadora__imagen %}
                    <img src="/media/{{ tam.jugadora__imagen }}" alt="{{tam.jugadora__nombre}} imagen" class="circle"/>
                  {% else %}
                    <img src="{% static 'static_media/default.jpg' %}" alt="{{tam.jugadora__nombre}} imagen" class="circle"/>
                  {% endif %}
                  <span>{{tam.jugadora__nombre}} {{tam.jugadora__apellido}}</span>
                  <span class="secondary-content no-top">{{tam.tam}}</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="card">
        <span class="card-title"><strong>MÁS EXPULSIONES </strong></span>
        <ul class="collection">
          {% for tr in top_tarjetas_rojas %}
            {% if forloop.first %}
              <li class="collection-item avatar big align-items">
                <a href="{% url 'landing:detalle_jugadora' equipo.id tr.jugadora__id %}">
                  {% if tr.jugadora__imagen %}
                    <img src="/media/{{ tr.jugadora__imagen }}" alt="{{tr.jugadora__nombre}} imagen" class="circle big"/>
                  {% else %}
                    <img src="{% static 'static_media/default.jpg' %}" alt="{{tr.jugadora__nombre}} imagen" class="circle big"/>
                  {% endif %}
                  <h6><strong>{{tr.jugadora__nombre}} {{tr.jugadora__apellido}}</strong></h6>
                  <h6 class="secondary-content top">{{tr.tr}}</h6>
                </a>
              </li>
            {% else %}
              <li class="collection-item avatar align-items">
                <a href="{% url 'landing:detalle_jugadora' equipo.id tr.jugadora__id %}">
                  {% if tr.jugadora__imagen %}
                    <img src="/media/{{ tr.jugadora__imagen }}" alt="{{tr.jugadora__nombre}} imagen" class="circle"/>
                  {% else %}
                    <img src="{% static 'static_media/default.jpg' %}" alt="{{tr.jugadora__nombre}} imagen" class="circle"/>
                  {% endif %}
                  <span>{{tr.jugadora__nombre}} {{tr.jugadora__apellido}}</span>
                  <span class="secondary-content no-top">{{tr.tr}}</span>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="card campeonatos-ganados">
        <span class="card-title"><strong>CAMPEONATOS</strong></span>
        {% for torneo in torneos_ganados %}
          <div class="campeonato">
            <div class="image-column">
              <div class="circle-icon circle">
                <img src="{% static 'static_media/trophy.svg' %}" />
              </div>
            </div>
            <div class="text-column">
              <p><strong>{{torneo.torneo__nombre}}</strong><p>
                <span class="small">{{torneo.torneo__fecha_inicio | date:"o"}}</p>
                </div>
              </div>
        {% endfor %}
      </div>
    </div>
    <h3>Jugadoras</h3>
    <div class="jugadoras card-container wrap flex space-between">
      {% for jugadora in jugadoras_equipo %}
      <div class="card team-player">
        <a href="{% url 'landing:detalle_jugadora' equipo.id jugadora.id %}">
          <div class="card-image">
            {% if jugadora.imagen %}
              <img src="{{ jugadora.imagen.url }}" alt="{{jugadora.nombre}} imagen" class="circle"/>
            {% else %}
              <img src="{% static 'static_media/default.jpg' %}" alt="{{jugadora.nombre}} imagen" class="circle"/>
            {% endif %}
          </div>
          <div class="card-content">
            <h6 class="title"><strong>{{jugadora.nombre}} {{jugadora.apellido}}</strong></h6>
            <p>#{{jugadora.numero}}</p>
            <p>{{jugadora.get_posicion_display}}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
