{% extends "base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/landing/team-list.css' %}">
{% endblock %}
{% block main %}
<div class="header small-header">
  <div class="image-header"></div>
  <div class="cover"></div>
  <div class="container">
    <h2>Equipos</h2>
  </div>
</div>
<div class="content team-list">
  <div class="container wrap">
    {% for equipo in equipos %}
    <div class="card">
      <a href="{% url 'landing:detalle_equipo' equipo.id %}">
        <div class="card-image">
          <img src="{{ equipo.logo.url }}" class="circle"/>
        </div>
        <div class="card-content">
          <h6 class="title"><strong>{{equipo.nombre}}</strong></h6>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
