{% extends "base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/landing/torneo.css' %}">
{% endblock %}
{% block main %}
<div class="header small-header">
  <div class="image-header"></div>
  <div class="cover"></div>
  <div class="container">
    <h2>Torneos</h2>
  </div>
</div>
<div class="content team-list">
  <div class="container">
    <ul class="collection">
      {% for torneo in torneos %}
      {% if not torneo.activo %}
                    <a href="{% url 'landing:detalle_torneo' torneo.id %}">

        <li class="collection-item avatar listado">
              <span class="title">{{torneo.nombre}}</span>
          <p>{{ torneo.fecha_inicio }}</p>
          {% if torneo.categoria == 0 and torneo.categoria_max == 100 %}
            <p>Categoría: Libre</p>
            {% else %}
            <p>Categoría: {{ torneo.categoria }} - {{ torneo.categoria_max }} </p>
            {% endif %}

        </li>
          </a>
      {% endif %}
      {% empty %}
      <p>No hay torneos aún</p>
      {%endfor%}
    </ul>
  </div>
</div>
{% endblock %}
