{% extends "base.html" %}
{% load static %}
{% block main %}
<div class="header small-header">
  <div class="image-header"></div>
  <div class="container">
    <h2>Torneos</h2>
  </div>
</div>
<div class="content team-list">
  <div class="container">
    <ul class="collection">
      {% for torneo in torneos %}
      {% if not torneo.activo %}
      <a href="{% url 'landing:detalle_torneo' torneo.id %}">
        <li class="collection-item avatar listado">
          <span class="title">{{torneo.nombre}}</span>
          <p>{{ torneo.fechaInicio }}</p>
          <p>Categoría: {{ torneo.categoria }}</p>
        </li>
      </a>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
