<h4 class="center-align">{{jornada.jornada}}</h4>
<br>
{% for partido in partidos %}
  <div class="row valign-wrapper">
    <div class="col s5">
      <div class="row ">
        <div class="card-panel z-depth-1">
          <div class="collection-item avatar">
            <img src="{{ partido.equipo_local.logo.url }}" alt="" class="circle valign equipo">
            <span class="title">{{ partido.equipo_local.nombre }}</span>
            <p>Representante: {{ partido.equipo_local.representante }}</p>
            <p>Color: {{ partido.equipo_local.get_colorLocal_display }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col s2 center-align">
      <h5 class="">VS.</h5>
      <span>{{partido.fecha}}</span>
      <span>Hora: {{partido.hora}}</span>
      <br/>
      <span>Cancha: {{partido.cancha}}</span>
      <br>
      {% if partido.fecha < datetime %}
      <a href="{% url 'landing:detalle_partido' jornada.torneo.id partido %}">
          <div class="button secondary-button">Ver Mas</div>
      </a>
      {% endif %}
      <br>
    </div>
    <div class="col s5">
      <div class="row right-align">
        <div class="card-panel z-depth-1">
          <div class="collection-item avatar">
            <span class="title">{{ partido.equipo_visitante.nombre }}</span>
            <img src="{{ partido.equipo_visitante.logo.url }}" alt="" class="circle valign equipo">
            <p>Representante: {{ partido.equipo_visitante.representante }}</p>
            <p>Color: {{ partido.equipo_visitante.get_colorVisitante_display }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
