{% extends "base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/landing/main.css' %}">
{% endblock %}
{% block main %}
<div class="hero">
  <div class="image-hero"></div>
  <div class="cover"></div>
  <div class="container">
    <div class="text">
      <h1>PLAN LIBÉLULA DESARROLLO INTEGRAL</h1>
      <h6>PLIDI es una estrategia pensada para el desarrollo
        de la mujer, brindándoles herramientas como la
        educación emocional, la disciplina del deporte y los
        hábitos de cuidar su alimentación.</h6>
        <div class="cta-container">
          <!--<div class="primary-button button white">-->
          <!--  <strong>Conoce más</strong>-->
          <!--</div>-->
        </div>
      </div>
  </div>
</div>
<div class="content">

 <div class="container">
   {% if partidos %}
     <h2>Próximos juegos</h2>
   <div class="card-container">
       {% for p in partidos %}
     <div class="card match">
       <div class="card-image">
         <div class="container">
           <img class="team" src="{{ p.equipo_local.logo.url }}">
           <div class="vs-container">
             <div class="circle vs-circle">VS</div>
           </div>
           <img class="team" src="{{ p.equipo_visitante.logo.url }}">
         </div>
       </div>
       <div class="card-content">
          <p>{{p.jornada.torneo.nombre }}</p>
          <p>{{p.fecha|date:"D d M Y"}} - {{p.hora|time:"P"}}</p>
         <p>Cancha: {{p.cancha}}</p>
       </div>
     </div>
        {% endfor %}
   </div>

   <div class="cta-container">
     <div class="button secondary-button"><a href="{% url 'landing:ver_torneos' %}">Ver todos los torneos</a></div>
   </div>
 {% endif %}
   <div class="mision-vision">
     <div class="column">
       <div class="container">
         <img class="icon" src="{% static 'static_media/mission.svg' %}" alt="mission-icon" />
         <h4>Misión</h4>
         <p>Enseñar y guiar a niñas y/o jovencitas a manejar sus emociones y capacidades con el objetivo de modificar y crear una nueva generación que lleve a la sociedad mexicana a un nuevo nivel.</p>
       </div>
     </div>
     <div class="column">
       <div class="container">
         <img class="icon vision" src="{% static 'static_media/star.svg' %}" alt="vision-icon" />
         <h4>Visión</h4>

         <p>Formar niñas y/o jovencitas que generen acciones trascendentes en el desarrollo social y deportivo, la confianza en sí misma, el valor de la palabra, el compromiso, la honestidad y la ayuda al prójimo.</p>
       </div>
     </div>
   </div>
   <div class="centered-text">
     <h3>Beneficios de estar afiliado a FemexFut</h3>

       <p>Plan Libélula tiene el compromiso con el deporte queretano, por lo anterior, la Liga de Futbol Libélulas Femenil se ha formalizado ante la Asociación de Futbol del Estado de Querétaro y la Federación Mexicana de Fútbol.

La afiliación de jugadoras las hace partícipes de la comunidad del Fútbol en el sector amateur y su participación es regulada bajo estos organismos.

Pertenecer a estos organismos permite registrar el seguimiento de participación en los diferentes eventos estatales, regionales y nacionales así como el respaldo y la cobertura de un seguro de gastos médicos.</p>
       <div class="flex button-container">
       <div class="button secondary-button">
       <a href="{% static 'static_media/carta.jpg' %}" target="_blank">
         Ver documento oficial
       </a>
     </div>
     <div class="button secondary-button">
       <a href="http://amateur.femexfut.org.mx/#/FutbolentuEstado/" target="_blank">
         Visitar página FEMEXFUT
       </a>
     </div>
    </div>
   </div>
 </div>
</div>

{% endblock %}
