{% extends "base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/landing/main.css' %}">
{% endblock %}
{% block main %}
<div class="hero">
  <div class="image-hero"></div>
  <div class="cover"></div>
  <div class="container">
    <div class="text">
      <h1>PLAN LIBÉLULA DESARROLLO INTEGRAL</h1>
      <h6>PLIDI es una estrategia pensada para el desarrollo
        de la mujer brindándoles herramientas como la
        educación emocional, la disciplina del deporte y los
        hábitos de cuidar su alimentación.</h6>
        <div class="cta-container">
          <div class="primary-button button white">
            <strong>Conoce más</strong>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="content">
 <div class="container">
   <h2>Próximos juegos</h2>
   <div class="card-container">
     <div class="card match">
       <div class="card-image waves-effect waves-block waves-light">
         <div class="container">
           <img class="team" src="{% static 'static_media/USA.png' %}">
           <div class="vs-container">
             <div class="circle vs-circle">VS</div>
           </div>
           <img class="team" src="{% static 'static_media/logo2.png' %}">
         </div>
       </div>
       <div class="card-content">
         <p>Jueves, Marzo 12 - 12:30 AM</p>
         <p>Cancha Querétaro 2000</p>
       </div>
     </div>

     <div class="card match">
       <div class="card-image waves-effect waves-block waves-light">
         <div class="container">
           <img class="team" src="{% static 'static_media/USA.png' %}">
           <div class="vs-container">
             <div class="circle vs-circle">VS</div>
           </div>
           <img class="team" src="{% static 'static_media/logo2.png' %}">
         </div>
       </div>
       <div class="card-content">
         <p>Jueves, Marzo 12 - 12:30 AM</p>
         <p>Cancha Querétaro 2000</p>
       </div>
     </div>

     <div class="card match">
       <div class="card-image waves-effect waves-block waves-light">
         <div class="container">
           <img class="team" src="{% static 'static_media/USA.png' %}">
           <div class="vs-container">
             <div class="circle vs-circle">VS</div>
           </div>
           <img class="team" src="{% static 'static_media/logo2.png' %}">
         </div>
       </div>
       <div class="card-content">
         <p>Jueves, Marzo 12 - 12:30 AM</p>
         <p>Cancha Querétaro 2000</p>
       </div>
     </div>
   </div>
   <div class="cta-container">
     <div class="button secondary-button">Ver todos los juegos</div>
   </div>
   <div class="mision-vision">
     <div class="column">
       <div class="container">
         <img class="icon" src="{% static 'static_media/mission.svg' %}" alt="mission-icon" />
         <h4>Misión</h4>
         <p>Enseñar y guiar a niñas y/o jóvencitas a manejar sus emociones y capacidades con el objetivo de modificar y crear una nueva generación que lleve a la sociedad mexicana a un nuevo nivel.</p>
       </div>
     </div>
     <div class="column">
       <div class="container">
         <img class="icon vision" src="{% static 'static_media/star.svg' %}" alt="vision-icon" />
         <h4>Visión</h4>
         <p>Formar niñas y/o jovencitas que generen acciones trascendentes en el desarrollo social y/o deportivo, la confianza en sí misma, el valor de la palabra, el compromiso, la honestidad y la ayuda al prójimo</p>
       </div>
     </div>
   </div>
   <div class="centered-text">
     <h3>Beneficios de estar afiliado a FEmexFut</h3>
     <p>El principal beneficio que ofrece la Femexfut al estar afiliados los o las futbolistas es jugar protegidos en cuanto a las lesiones que se pudieran dar en los partidos de fútbol, también tener participación en eliminatorias estatales para poder representar al estado en campeonatos nacionales donde al ganar este derecho se les proporciona hospedaje y alimentación. También cuentan con el registro en la pagina de la Femexfut donde aparece liga - equipo y jugador. Hay un apartado en donde se encuentran todos los datos del jugador o jugadora.</p>
     <div class="button secondary-button">Ver documento oficial</div>
   </div>
 </div>
</div>

{% endblock %}
