{% extends "base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/landing/partido.css' %}">
{% endblock %}
{% block main %}
<div class="header">
  <div class="image-header"></div>
  <div class="cover"></div>
  <div class="container">
    <div class="team row">
      <div class="logo">
        <img src="{{equipo_local.logo.url}}" alt="{{equipo_local.nombre}} logo" class="circle"/>
        <h6><strong>{{equipo_local.nombre}}</strong></h6>
      </div>
      <h2>{{partido.goles_local}}</h2>
    </div>
    <div class="torneo">
      <h5>Torneo {{torneo.nombre}}</h5>
      <p>Jornada {{partido.jornada_id}}</p>
      <p>{{partido.fecha}} {{partido.hora}}</p>
    </div>
    <div class="team row">
      <h2>{{partido.goles_visitante}}</h2>
      <div class="logo">
        <img src="{{equipo_visitante.logo.url}}" alt="{{equipo_visitante.nombre}} logo" class="circle"/>
        <h6><strong>{{equipo_visitante.nombre}}</strong></h6>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container flex">
    <div class="team-container">
      <div class="team-name local">
        <h6>{{equipo_local.nombre}}</h6>
      </div>
      <ul class="collection">
        {% for jugadora in jugadoras_local %}
        <a href="#" class="collection-item">
          <div class="item-container flex">
            <strong class="num">{{jugadora.numero}}</strong>
            <div class="nombre">
              <span class="nombre">{{jugadora.nombre}} {{jugadora.apellido}}</span>
            </div>
            <span class="pos">{{jugadora.get_posicion_display|slice:":3"}}</span>
            <div class="icons">
              {% for tr in tarjetas_rojas_local %}
                {% if jugadora.id == tr.jugadora_id %}
                  <div class="tarjeta tr"></div>
                {% endif %}
              {% endfor %}
              {% for tam in tarjetas_amarillas_local %}
                {% if jugadora.id == tam.jugadora_id %}
                <div class="tarjeta tam">
                  {% if tam.cantidad > 1 %}
                  {{tam.cantidad}}
                  {% endif %}
                </div>
                {% endif %}
              {% endfor %}
              {% for gol in goles_local %}
                {% if jugadora.id == gol.jugadora_id %}
                {% for g in gol.cantidad %}
                  <div class="gol-container" data-value="{{gol.cantidad}}"></div>
                {% endfor %}
                {% endif %}
              {% endfor %}
              {% for ta in tarjetas_azul_local %}
                {% if jugadora.id == ta.jugadora_id %}
                <div class="tarjeta ta"></div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </a>
        {% endfor %}
      </ul>
    </div>
    <div class="center-container">
      <div class="field">
        <div class="field-row portero">
          {% for jugadora in jugadoras_local %}
            {% if jugadora.posicion == 4 %}
            <div class="shirt shirt-local">
              {{ jugadora.numero }}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="field-row defensa">
          {% for jugadora in jugadoras_local %}
            {% if jugadora.posicion == 3 %}
            <div class="shirt shirt-local">
              {{ jugadora.numero }}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="field-row medio">
          {% for jugadora in jugadoras_local %}
            {% if jugadora.posicion == 2 %}
            <div class="shirt shirt-local">
              {{ jugadora.numero }}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="field-row delantero">
          {% for jugadora in jugadoras_local %}
            {% if jugadora.posicion == 1 %}
            <div class="shirt shirt-local">
              {{ jugadora.numero }}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="field-row delantero">
          {% for jugadora in jugadoras_visitante %}
            {% if jugadora.posicion == 1 %}
            <div class="shirt shirt-visitante">
              {{ jugadora.numero }}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="field-row medio">
          {% for jugadora in jugadoras_visitante %}
            {% if jugadora.posicion == 2 %}
            <div class="shirt shirt-visitante">
              {{ jugadora.numero }}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="field-row defensa">
          {% for jugadora in jugadoras_visitante %}
            {% if jugadora.posicion == 3 %}
            <div class="shirt shirt-visitante">
              {{ jugadora.numero }}
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="field-row portero">
          {% for jugadora in jugadoras_visitante %}
            {% if jugadora.posicion == 4 %}
            <div class="shirt shirt-visitante">
              {{ jugadora.numero }}
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="informacion">
        <p><strong>Árbitro: </strong>{{partido.arbitro}}</p>
        <p><strong>Notas: </strong> {{ partido.notas }} </p>
      </div>
    </div>
    <div class="team-container">
      <div class="team-name visitante">
        <h6>{{equipo_visitante.nombre}}</h6>
      </div>
      <ul class="collection">
        {% for jugadora in jugadoras_visitante %}
        <a href="#" class="collection-item">
          <div class="item-container flex">
            <strong class="num">{{jugadora.numero}}</strong>
            <div class="nombre">
              <span class="nombre">{{jugadora.nombre}} {{jugadora.apellido}}</span>
            </div>
            <span class="pos">{{jugadora.get_posicion_display|slice:":3"}}</span>
            <div class="icons">
              {% for tr in tarjetas_rojas_visitante %}
                {% if jugadora.id == tr.jugadora_id %}
                  <div class="tarjeta tr"></div>
                {% endif %}
              {% endfor %}
              {% for tam in tarjetas_amarillas_visitante %}
                {% if jugadora.id == tam.jugadora_id %}
                <div class="tarjeta tam"></div>
                {% endif %}
              {% endfor %}
              {% for gol in goles_visitante %}
                {% if jugadora.id == gol.jugadora_id %}
                  <div class="gol-container" data-value="{{gol.cantidad}}"></div>
                {% endif %}
              {% endfor %}
              {% for ta in tarjetas_azul_visitante %}
                {% if jugadora.id == ta.jugadora_id %}
                <div class="tarjeta ta"></div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
