{% extends "base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/landing/partido.css' %}">
{% endblock %}
{% block main %}
<div class="header">
  <div class="image-header"></div>
  <div class="cover"></div>
  <div class="container">
    <div class="team row">
      <div class="logo">
        <img src="{{equipo_local.logo.url}}" alt="{{equipo_local.nombre}} logo" />
        <h6>{{equipo_local.nombre}}</h6>
      </div>
      <h2>{{partido.goles_local}}</h2>
    </div>
    <div class="torneo">
      <h6>Torneo {{torneo.nombre}}</h6>
      <p>Jornada 12</p>
      <p>{{partido.fecha}} {{partido.hora}}</p>
    </div>
    <div class="team row">
      <h2>{{partido.goles_visitante}}</h2>
      <div class="logo">
        <img src="{{equipo_visitante.logo.url}}" alt="{{equipo_visitante.nombre}} logo" />
        <h6>{{equipo_visitante.nombre}}</h6>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container flex">
    <div class="team">
      <div class="team-name">
        <h6>{{equipo_local.nombre}}</h6>
      </div>
      <ul class="collection">
        {% for jugadora in jugadoras_local %}
        <a href="#" class="collection-item flex">
          <strong>{{jugadora.Numero}}</strong>
          <div class="nombre">
            <span class="nombre">{{jugadora.Nombre}} {{jugadora.Apellido}}</span>
          </div>
          <span>{{jugadora.get_Posicion_display}}</span>
        </a>
        {% endfor %}
      </ul>
    </div>
    <div class="field">
      <div class="portero">
        {% if jugadora.Posicion == 4 %}
          <div class="shirt">
            {{jugadora.Numero}}
          </div>
        {% endif %}
      </div>
      <div class="defensa">
        {% for jugadora in jugadoras_local %}
          {% if jugadora.Posicion == 3 %}
          <div class="shirt">
            {{ jugadora.Numero }}
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="medio">
        {% for jugadora in jugadoras_local %}
          {% if jugadora.Posicion == 2 %}
          <div class="shirt">
            {{ jugadora.Numero }}
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="delantero">
        {% for jugadora in jugadoras_local %}
          {% if jugadora.Posicion == 1 %}
          <div class="shirt">
            {{ jugadora.Numero }}
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="delantero">
        {% for jugadora in jugadoras_visitante %}
          {% if jugadora.Posicion == 1 %}
          <div class="shirt">
            {{ jugadora.Numero }}
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="medio">
        {% for jugadora in jugadoras_visitante %}
          {% if jugadora.Posicion == 2 %}
          <div class="shirt">
            {{ jugadora.Numero }}
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="defensa">
        {% for jugadora in jugadoras_visitante %}
          {% if jugadora.Posicion == 3 %}
          <div class="shirt">
            {{ jugadora.Numero }}
          </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="portero">
        {% if jugadora.Posicion == 4 %}
          <div class="shirt">
            {{jugadora.Numero}}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="team">
      <div class="team-name">
        <h6>{{equipo_visitante.nombre}}</h6>
      </div>
      <ul class="collection">
        {% for jugadora in jugadoras_visitante %}
        <a href="#" class="collection-item">
          <strong>{{jugadora.Numero}}</strong>
          <span>{{jugadora.Nombre}} {{jugadora.Apellido}}</span>
          <span>{{jugadora.get_Posicion_display}}</span>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
