{% extends "base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/landing/convocatorias.css' %}">
{% endblock %}
{% block main %}
{% now "Y-m-d" as today %}
<div class="header small-header">
  <div class="image-header"></div>
  <div class="cover"></div>
  <div class="container">
    <h2>Convocatorias</h2>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="card-container flex space-between">
      {% for Torneo in torneos %}



      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <div class="container">
            <h5 class="black-text activator center">{{ Torneo.nombre }}</h5>
          </div>
        </div>
        <div class="card-content">
          <div class="title">
            <p align="center">{{ Torneo.fechaInicio }}</p>
          </div>
        </div>
        <div class="card-image icons  black hoverable">
            <span class="activator" style="color: white"> Más Información + </span>
        </div>
        <div class="card-reveal  blue-grey lighten-4">
          <span class="card-title grey-text text-darken-4 center">Información:<i class="material-icons right">close</i></span>
          <div class="card-panel">
            <i class="material-icons left black-text ">date_range</i>
            <span class="black-text">Fecha de inicio:</span>
            <br>
            <span class="blue-text text-darken-2">{{ Torneo.fechaInicio }} </span>
          </div>
          <div class="card-panel">
            <i class="material-icons left black-text ">person</i>
            <span class="black-text">Categoría:</span>
            <br>
            <span class="blue-text text-darken-2">{{ Torneo.categoria }} </span>
          </div>
          <div class="card-panel">
            <i class="material-icons left black-text ">attach_money</i>
            <span class="black-text">Costo:</span>
            <br>
            <span class="blue-text text-darken-2">${{ Torneo.costo }} pesos</span>
          </div>
          <div class="card-panel">
            <i class="material-icons left black-text ">event</i>
            <span class="black-text">Fecha de Junta:</span>
            <br>
            <span class="blue-text text-darken-2">{{ Torneo.fechaJunta }} </span>
          </div>
            <div class="card-panel">
            <i class="material-icons left black-text ">attach_file</i>
            <span class="black-text">Anexo:</span>
            {% if Torneo.anexo %}
            <br>
                <a href="{{ Torneo.anexo.url }}">Documento Anexo</a>
            {% endif %}
          </div>
            {% if today >= Torneo.unDiaAntesJunta|date:"Y-m-d" %}

            {% else %}
                <div class="card-panel">
                    <i class="material-icons left black-text ">format_align_center</i>
                    <span class="black-text">Pre-Registro:</span>
                    <br>
                    <a href="{% url 'coaches:pre_registro' Torneo.id %}" class="waves-effect waves-light btn">Solicitar</a>
                </div>
            {% endif %}

        </div>
      </div>
      {% empty %}
      <p>No hay conovocatorias aún</p>
      {%endfor%}
    </div>
</div>
</div>

{% endblock %}
