{% extends "base.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/landing/convocatorias.css' %}">
{% endblock %}
{% block main %}
{% now "Y-m-d" as today %}
<div class="header small-header">
  <div class="image-header"></div>
  <div class="cover"></div>
  <div class="container">
    <h2>Convocatorias</h2>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="card-container flex space-between">
      {% for Torneo in torneos %}
      <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <div class="container">
            <h5 class="black-text activator center">{{ Torneo.nombre }}</h5>
          </div>
        </div>
        <p class="date" align="center">{{ Torneo.fecha_inicio }}</p>
        <div class="button secondary-button card-image icons hoverable activator">
            Más Información +
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4 center close">
            Información:
            <i class="material-icons right">close</i>
          </span>
          <div class="card-panel">
            <i class="material-icons left black-text ">date_range</i>
            <span class="black-text">Fecha de inicio:</span>
            <br>
            <span class="blue-text text-darken-2">{{ Torneo.fecha_inicio }} </span>
          </div>
          <div class="card-panel">
            <i class="material-icons left black-text ">person</i>
            <span class="black-text">Categoría:</span>
            <br>
            {% if Torneo.categoria == 0 and Torneo.categoria_max == 100 %}
            <span class="blue-text text-darken-2">Libre</span>
            {% else %}
            <span class="blue-text text-darken-2">{{ Torneo.categoria }} - {{ Torneo.categoria_max }} </span>
            {% endif %}
          </div>
          <div class="card-panel">
            <i class="material-icons left black-text ">attach_money</i>
            <span class="black-text">Costo:</span>
            <br>
            <span class="blue-text text-darken-2">${{ Torneo.costo }} pesos</span>
          </div>
          <div class="card-panel">
            <i class="material-icons left black-text ">event</i>
            <span class="black-text">Fecha de Junta:</span>
            <br>
            <span class="blue-text text-darken-2">{{ Torneo.fecha_junta }} </span>
          </div>
            <div class="card-panel">
            <i class="material-icons left black-text ">attach_file</i>
            <span class="black-text">Anexo:</span>
            {% if Torneo.anexo %}
            <br>
                <a href="{{ Torneo.anexo.url }}">Documento Anexo</a>
            {% endif %}
          </div>
          <div class="card-panel">
            <span class="black-text">Equipos:</span>
            <ul class="collection">
            {% for equipo in equipos %}
            {% if equipo.id == Torneo.id %}
            <li class="collection-item avatar">
              <a href="{% url 'landing:detalle_equipo' equipo.equipos__id %}">
                <img src="/media/{{equipo.equipos__logo}}" class="circle"/>
                <p><strong>{{equipo.equipos__nombre}}</strong></p>
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          </div>
            {% if today >= Torneo.unDiaAntesJunta|date:"Y-m-d" %}

            {% else %}
                <div class="card-panel">
                    <i class="material-icons left black-text ">format_align_center</i>
                    <span class="black-text">Pre-Registro:</span>
                    <br>
                    <div class="cta-container">
                      <a href="{% url 'coaches:pre_registro' Torneo.id %}" class="button primary-button waves-effect waves-light btn">Solicitar</a>
                    </div>
                </div>
            {% endif %}

        </div>
      </div>
      {% empty %}
      <p>No hay conovocatorias aún</p>
      {%endfor%}
    </div>
</div>
</div>

{% endblock %}
