.card {
  width: 300px;
}

i {
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
}

.card{
  padding: 12px 24px 12px 24px;
}

.header > .image-header {
  background-image: url("../../static_media/Torneos.jpg");
  background-position: center;
}
