.card-list {
  flex-wrap: wrap;
}

.campeonatos-ganados {
  width: 100% !important;
}

.card {
  width:450px;
}

.card, .campeonatos-ganados {
  padding: 12px 24px 12px 24px;
}

.team-player {
  width: 300px;
  padding: 0;
}

.campeonatos-ganados > .campeonato {
  display: flex;
  align-items: center;
}

.campeonatos-ganados .image-column {
  margin-right: 24px;
}

.campeonatos-ganados .text-column > p {
  margin: 0;
}

.circle-icon {
  width:50px;
  height: 50px;
  background-color: #F19800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-icon > img {
  max-height: 50%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-image > img {
  width: 300px;
  height: 300px;
}

.collection-item > .big {
  height: 60px !important;
  width: 60px !important;
}

.collection > .big {
  padding-left: 85px !important;
}

.align-items {
  display: flex;
  align-items: center;
}

.no-top {
  top: inherit !important;
}

.top {
  top: 23px !important;
}

@media (min-width: 360px) and (max-width: 767px) {
  .header > .container {
    flex-direction: column;
    align-items: center;
  }
}

.header > .image-header {
  background-image: url("../../static_media/equipos.jpg");
  background-position: 50% -0;
}
