.header > .image-header {
  background-image: url("../../static_media/Torneos.jpg");
  background-position: center;
}

td img {
  margin-right: 12px;
}

.button {
  margin-top: 12px;
  padding: 6px 6px 6px 6px
}
