<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
<div class="title-container">
  <h2>Agregar Jugadora</h2>
</div>

    {% if equipo == '' %}
        <form class="container flex" method="POST" enctype="multipart/form-data" novalidate action="{% url 'jugadora:agregar_jugadora' %}">

    {% else %}
        <form class="container flex" method="POST" enctype="multipart/form-data" novalidate action="{% url 'jugadora:agregar_jugadora' equipo %}">
    {% endif %}
  {% csrf_token %}
  <div class="image-column">
    <div class="image-circle upload">
      <img id="upload" class="upload-change"/>
      <div class="generic-photo">
        <img class="camera-icon" src="{% static 'static_media/photo-camera.svg' %}"/>
        <span>Agregar Foto</span>
      </div>
      <div class="absolute-icons">
          {{ form.imagen }}
      </div>
    </div>
    {{ form.imagen.errors }}
  </div>
  <div class="form-column">
      <p>
        <label>
          {{ form.nombre.label_tag }}
        </label>
        {{ form.nombre }}
      </p>
      {{ form.nombre.errors }}
      <p>
        <label>
          {{ form.apellido.label_tag }}
        </label>
        {{ form.apellido }}
      </p>
      {{ form.apellido.errors }}
      <p>
        <label>
          {{ form.nacimiento.label_tag }}
        </label>
        {{ form.nacimiento }}
      </p>
      {{ form.nacimiento.errors }}
      <p>
        <label>
          {{ form.numero.label_tag }}
        </label>
        {{ form.numero }}
      </p>
      {{ form.numero.errors }}
      <p>
        <label>
          {{ form.posicion.label_tag }}
        </label>
        {{ form.posicion }}
      </p>
      {{ form.posicion.errors }}

      <p>
        <label>
          {{ form.fecha_de_afiliacion.label_tag }}
        </label>
        {{ form.fecha_de_afiliacion }}
      </p>
      {{ form.fecha_de_afiliacion.errors }}

       <p>
        <label>
          {{ form.num_poliza.label_tag }}
        </label>
        {{ form.num_poliza }}
      </p>
      {{ form.num_poliza.errors }}


      <p>
        <label>
          {{ form.nui.label_tag }}
        </label>
        {{ form.nui }}
      </p>
      {{ form.nui.errors }}

      {% if equipo == '' %}
          <p>
              <label>
                  {{ form.equipo.label_tag }}
              </label>
              {{ form.equipo }}
          </p>
           {{ form.equipo.errors }}
      {% else %}
          <p>
              <label>
                   {{ form.equipo.label_tag }}
              </label>
              <select name="{{ form.equipo.name }}" required id="{{ form.equipo.id_for_label }}">
                <option value="{{ lista_equipo.pk }}" selected>{{ lista_equipo.nombre }}</option>
              </select>
          </p>


      {% endif %}

      <p>
        <label>
          {{ form.notas.label_tag }}
        </label>
        {{ form.notas }}
      </p>
      {{ form.notas.errors }}



    <div class="container-button">
      {% if equipo %}
      <a href="{% url 'equipo:detalle_equipo' equipo %}"><button class="cancel" type="button">Cancelar</button></a>
      {% else %}
      <a href="{% url 'jugadora:ver_jugadoras' %}"><button class="cancel" type="button">Cancelar</button></a>
      {% endif %}
      <button class="submit" type="submit">Guardar</button>
    </div>
  </div>
</form>
{% endblock %}
