<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
<div class="title-container">
  <h2>Editar Jugadora</h2>
</div>
<form class="container flex" method="POST" enctype="multipart/form-data" novalidate action="{% url 'jugadora:editar_jugadora' jugadora.id %}">
  {% csrf_token %}
  <div class="image-column">
    <div class="image-circle upload">
        {% if jugadora.imagen == '' %}
            <img class="upload-change" src="{% static 'static_media/default.jpg' %}" alt="" />
        {% else %}
            <img class="upload-change" src="{{ jugadora.imagen.url }}" alt="{{ jugadora.imagen.url }}" />
        {% endif %}


      <img id="upload" class="upload-change"/>
      <div class="generic-photo">
        <img class="camera-icon" src="{% static 'static_media/photo-camera.svg' %}"/>
        <span>Cambiar Foto</span>
      </div>
      <div class="absolute-icons">
          {{ form.imagen }}
      </div>
    </div>
    {{ form.imagen.errors }}
  </div>
  <div class="form-column">
      <p>
        <label>
          {{ form.nombre.label_tag }}
        </label>
        {{ form.nombre }}
      </p>
      {{ form.nombre.errors }}
      <p>
        <label>
          {{ form.apellido.label_tag }}
        </label>
        {{ form.apellido }}
      </p>
      {{ form.apellido.errors }}
      <p>
        <label>
          {{ form.nacimiento.label_tag }}
        </label>
          <input type="date" name="{{form.nacimiento.html_name}}" required="" value='{{form.nacimiento.value|date:"Y-m-d"}}'   id="{{form.nacimiento.id_for_label}}" class="datepicker">
      </p>
      {{ form.nacimiento.errors }}
      <p>
        <label>
          {{ form.numero.label_tag }}
        </label>
        {{ form.numero }}
      </p>
      {{ form.numero.errors }}
      <p>
        <label>
          {{ form.posicion.label_tag }}
        </label>
        {{ form.posicion }}
      </p>
      {{ form.posicion.errors }}
      <p>
          <label>
              {{ form.equipo.label_tag }}
          </label>
          {{ form.equipo }}
      </p>
           {{ form.equipo.errors }}
      <p>
        <label>
          {{ form.notas.label_tag }}
        </label>
        {{ form.notas }}
      </p>
      {{ form.notas.errors }}
    <div class="container-button">
      <a href="{% url 'jugadora:ver_jugadoras' %}" class="cancel">Cancelar</a>
      <button class="submit" type="submit">Enviar</button>
    </div>
  </div>
</form>
{% endblock %}
