<form action="{% url 'jugadora:eliminar_jugadora' jugadora.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="modal-content">
    <h4>Eliminar Jugadora {{ jugadora.Nombre }}</h4>
    <p>Esta seguro de que quiere eliminar {{ jugadora.Nombre }} de manera permanente?</p>
  <div class="modal-footer">
    <button id="cancel" type="button" class="cancel cancel-delete" data-target="delete">Cancelar</button>
    <button class="delete-color" style="background-color: #F19800" type="submit">Eliminar</button>
</form>
<script>
$("#cancel").click(function() {
  $("#delete").modal('close');
})
</script>
