<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}

<div class="title-container">
  <h2>Jugadoras</h2>
</div>
<div class="container">
  <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red-background" href="{% url 'jugadora:agregar_jugadora' %}">
        <i class="large material-icons waves-effect waves-light">add</i>
      </a>
  </div>
   <input id="searchbox" type="text" placeholder="Búsqueda" />
  <ul id="friendlist" class="collection">
   
    {% for jugadora in jugadoras %}
    <li class="collection-item avatar">
      {% if jugadora.Imagen %}
        <img src="{{ jugadora.Imagen.url }}" alt="" class="circle" />
      {% else %}
        <img src="{% static 'static_media/default.jpg' %}" alt="" class="circle" />
      {% endif %}
        <a href="{% url 'jugadora:detalle_jugadora' jugadora.id %}"><span class="title">{{ jugadora.Nombre}} {{ jugadora.Apellido }}</span></a>
      <p><strong>Fecha de nacimiento:</strong> {{ jugadora.Nacimiento }}</p>
      <div class="flex">
        <p><strong>Número de playera:</strong> {{ jugadora.Numero }}</p>&nbsp;&nbsp;
        <p><strong>Posición:</strong> {{ jugadora.Posicion }}</p>
      </div>
      <div class="secondary-content">
        <a href="#" data-target="delete" data-form="{% url 'jugadora:eliminar_jugadora' jugadora.id %}" class="delete-button">
          <i class="medium material-icons icon-red">delete</i>
        </a>
        <a href="{% url 'jugadora:editar_jugadora' jugadora.id %}">
           <i class="medium material-icons icon-blue">mode_edit</i>
         </a>
       </div>
    </li>
    {% empty %}
    <li>No hay jugadoras registradas aun.</li>
    {% endfor %}
  </ul>

</div>



{% endblock %}
{% block scripts %}
{{ block.super }}

<script>

jQuery.expr[':'].Contains = function(a, i, m) {
    return jQuery(a).text().toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
};

$(function() {
    $('#searchbox').on('keyup', function() {
        var w = $(this).val();
        if (w) {
            $('#friendlist li').hide();
            $('#friendlist li:Contains('+w+')').show();
        } else {
            $('#friendlist li').show();                  
        }
    });
});
</script>
{% endblock %}