<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}

{% if messages %}
{% for message in messages %}
  <div class="{{ message.tags }} messages" id="message">
      <span class="">{{ message }}</span>
    {% endfor %}
  </div>
{% endif %}
<div class="container">
  <div class="row">
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red-background" href="{% url 'jugadora:agregar_jugadora' %}">
      <i class="large material-icons">add</i>
    </a>
    </div>
    {% for jugadora in jugadoras %}
    <div class="row division vertical-align-center">
      {% if jugadora.Imagen %}
      <div class="col s2 center-align">
        <img class="circle img-icons" src="{{jugadora.Imagen.url}}" />
      </div>
      {% else %}
      <div class="col s2 center-align">
        <img class="circle img-icons" src="{% static 'static_media/default.jpg' %}" />
      </div>
      {% endif %}
      <div class="col s6">
        <div class="row">
          <h6>{{ jugadora.Nombre }} {{ jugadora.Apellido }}</h6>
        </div>
        <div class="row">
          <div class="col s6 no-pad">
            <p>
              <strong>
                Número:
              </strong> {{ jugadora.Numero }}
            </p>
          </div>
          <div class="col s6 no-pad">
            <p>
              <strong>
                Posición:
              </strong> {{ jugadora.get_Posicion_display }}
            </p>
          </div>
        </div>
      </div>
      <div class="col s4 right-align">
        <i class="medium material-icons icon-red">delete</i>
        <a href="{% url 'jugadora:editar_jugadora' jugadora.id %}">
          <i class="medium material-icons icon-blue">mode_edit</i>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
