<!doctype html>

<style type="text/css">
  
  span{
    color: blue;
  }
</style>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Crear Equipo</title>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">LOGO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">¡Bienvenido Jonh!</B> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Equipos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Convocatoria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ligas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Galería</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Organizadores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Galería</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
<i class="material-icons">exit_to_app</i>
</a>


      </li>

    </ul>
  </div>
</nav>



  <body>

      <div class="container">
  <!-- Content 


<h1>Equipo</h1>
<ul>
{% for Equipo in object_list %}
    <li>{{ Equipo.nombre }}</li>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</ul>
    here -->
    <h1>Equipo</h1>
<h2>{{object.nombre}}</h2>
<h2>Representante: {{object.representante}}</h2>
<h3>Teléfono: {{object.telefono}}</h3>
<h3>E-Mail: {{object.correo}}</h3>
<h3>Logo</h3>
<img src="{{object.logo.url}}">

<h3>Color Local</h3>

{% if object.colorLocal is 1 %}
  <span>Blanco</span>
{% elif object.colorLocal  is  2 %}
    <span>Gris</span>
{% elif object.colorLocal  is 3 %}
  <span>Negro</span>
{% elif object.colorLocal is 4 %}
  <span>Rojo</span>
{% elif object.colorLocal is 5 %}
  <span>Naranja</span>
{% elif object.colorLocal is 6 %}
  <span>Amarillo</span>
{% elif object.colorLocal is 7 %}
    <span>Verde</span>
{% elif object.colorLocal is 8 %}
  <span>Azul</span>
{% elif object.colorLocal is  9 %}
  <span>Morado</span>
{% elif object.colorLocal is 10 %}
  <span>Rosa</span>
{% elif object.colorLocal is 11 %}
  <span>Cafe</span>
{% endif %}
<h3>Color Visitante</h3>

{% if object.colorVisitante is  1 %}
  <span>Blanco</span>
{% elif object.colorVisitante  is  2 %}
    <span>Gris</span>
{% elif object.colorVisitante is 3 %}
  <span>Negro</span>
{% elif object.colorVisitante is 4 %}
  <span>Rojo</span>
{% elif object.colorVisitante is 5 %}
  <span>Naranja</span>
{% elif object.colorVisitante is 6 %}
  <span>Amarillo</span>
{% elif object.colorVisitante is 7 %}
    <span>Verde</span>
{% elif object.colorVisitante is 8 %}
  <span>Azul</span>
{% elif object.colorVisitante is  9 %}
  <span>Morado</span>
{% elif object.colorVisitante is 10 %}
  <span>Rosa</span>
{% elif object.colorVisitante is 11 %}
  <span>Cafe</span>
{% endif %}

  <h4>Cancha: {{object.cancha}}</h4>

  <h4>Dia de Juego:</h4>

{% if object.dia is 1 %}
  <span>Lunes</span>
{% elif object.dia is 2 %}
    <span>Martes</span>
{% elif object.dia is 3 %}
  <span>Miércoles</span>
{% elif object.dia is 4 %}
  <span>Jueves</span>
{% elif object.dia is 5 %}
  <span>Viernes</span>
{% elif object.dia is 6 %}
  <span>Sábado</span>
{% elif object.dia is 7 %}
    <span>Domingo</span>
{% endif %}

   <h4>Hora:  {{ object.hora }}</h4>
   
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>





</html>


























