<!doctype html>
<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
  <body>
    <div class="container" id="gansito">
        <div class="row">
          <div class="col s12 m3">
            <img class="logo-equipo" src="{{object.logo.url}}">
          </div>
          <div class="col s12 m9">
            <div class="input-field col s12">
              <input disabled value="{{object.nombre}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
              <label for="disabled">Nombre de Equipo</label>
            </div>
            <div class="input-field col s12">
              <input disabled value="{{object.representante}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
              <label for="disabled">Coach</label>
            </div>
            <div class="input-field col s12 m6">
              <input disabled value="{{object.correo}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
              <label for="disabled">Correo Electrónico</label>
            </div>
            <div class="input-field col s12 m6">
              <input disabled value="{{object.telefono}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
              <label for="disabled">Teléfono</label>
            </div>
            <div class="input-field col s12">
              <input disabled value="{{object.cancha}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
              <label for="disabled">Cancha</label>
            </div>
            <div class="input-field col s12">
              <input disabled value="{{object.get_dia_display}} {{object.hora}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
              <label for="disabled">Horario</label>
            </div>
            <div class="input-field col s6 m3">
              <input disabled value="{{object.get_colorLocal_display}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
              <label for="disabled">Color Local</label>
            </div>
            <div class="input-field col s6 m3">
              <input disabled value="{{object.get_colorVisitante_display}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
              <label for="disabled">Color Visitante</label>
            </div>
          </div>
        </div>
      </div>
    </div>
 </body>
</html>
{% endblock %}

























