<!doctype html>
{% extends "base.html" %}
{% load staticfiles %}
{% block main %}


<div class="container-title">
  <h3>LISTA DE EQUIPOS</h3>
</div>
<div class="container">
  <ul class="collection">
    {% for Equipo in object_list %}
    <li class="collection-item avatar">
      <img src="{{ Equipo.logo.url }}" alt="" class="circle">
      <span class="title"><a href="{% url 'equipo:detalle_equipo' Equipo.id %}">{{ Equipo.nombre }}</a></span>
      <p>Representante: {{ Equipo.representante }}</p>
      <div class="secondary-content">
        <a data-toggle="modal" href="{% url 'equipo:borrar_equipo' Equipo.id %}">
          <i class="medium material-icons icon-red">delete</i>
        </a>
          <a href="{% url 'equipo:editar_equipo' Equipo.id %}">
          <i class="medium material-icons icon-blue">mode_edit</i>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="fixed-action-btn horizontal click-to-toggle">
    <a class="btn-floating btn-large red-background" href="{% url 'equipo:agregar_equipo'%}">
    <i class="large material-icons waves-effect waves-light">add</i>
  </a>
  </div>
</div>
{% endblock %}
