<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Plan Libélula Desarrollo Integral</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
        {% if request.resolver_match.app_name == 'landing' %}
          <link rel="stylesheet" href="{% static '/css/landing.css' %}">
        {% else %}
          <link rel="stylesheet" href="{% static '/index.css' %}">
        {% endif %}
        {% block styles %}
        {% endblock %}
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    {% block navbar %}
    {% if request.resolver_match.app_name == 'landing' %}
      {% include "navbar.html" %}
    {% else %}
      {% include "nav.html" %}
    {% endif %}
    {% endblock navbar %}
    <body>
        <div class="modal" id="delete"></div>
        {% if messages %}
            {% for message in messages %}
                <div class="{{ message.tags }} messages" id="message">
                    <span class="">{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
        <div class="main">
            {% block main %}{% endblock %}
        </div>
        {% block footer %}
        {% if request.resolver_match.app_name == 'landing' %}
          {% include "footer.html" %}
        {% endif %}
        {% endblock footer %}
        {% block scripts %}
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/js/materialize.min.js"></script>
        <script>
            $(document).ready(function(){
                $('.modal').modal();
                $('ul.tabs').tabs();
                $('.sidenav').sidenav();
                $('select').formSelect();

                $('.timepicker').timepicker({
                    twelveHour: false
                });

                $('.datepicker').datepicker();

                $('.datepicker').datepicker({
                  selectMonths: true, // Creates a dropdown to control month
                  selectYears: 15, // Creates a dropdown of 15 years to control year,
                  today: 'Today',
                  clear: 'Clear',
                  close: 'Ok',
                  format: 'yyyy-mm-dd',
                  closeOnSelect: true // Close upon selecting a date,
                });

                $(".delete-button").click(function(ev) { // for each edit contact url
                    ev.preventDefault(); // prevent navigation
                    if ($(this).data("form")) {
                        var url = $(this).data("form"); // get the contact form url
                        $("#delete").load(url, function() { // load the url into the modal
                            $(this).modal('open'); // display the modal on url load
                        });
                        return false; // prevent the click propagation
                    }
                })
            });

        </script>
        {% if request.resolver_match.app_name == 'landing' %}
          <script type="text/javascript" src="{% static '/js/landing.js' %}"></script>
        {% else %}
          <script type="text/javascript" src="{% static '/index.js' %}"></script>
        {% endif %}
        {% endblock %}
    </body>
</html>
