{% load static %}
<div class="footer">
  <div class="container">
    <div class="anchors">
      <span>Términos y condiciones</span>
      <span>Privacidad</span>
    </div>
    <div class="icons">
      <img class="icon" src="{% static 'static_media/facebook-logo.svg' %}" alt="facebook"/>
      <img class="icon" src="{% static 'static_media/google-plus.svg' %}" alt="mail"/>
      <img class="icon" src="{% static 'static_media/mail.svg' %}" alt="mail"/>
    </div>
    <span class="small"> Plan Libélula Desarrollo Integral</span>
  </div>
</div>
