{% load static %}
<div class="navbar" id="navbar">
  <div class="container">
    <div class="column">
      <a href="/"><img class="logo" src="{% static 'static_media/logo-white.svg' %}" alt="logo-plidi" /></a>
    </div>
    <div class="column anchors">
      <div class="anchor">CONVOCATORIAS</div>
      <div class="anchor">TORNEOS</div>
      <div class="anchor"><a href="{% url 'landing:ver_equipos' %}">EQUIPOS</a></div>
      <div class="anchor">GALERIA</div>
      <div class="anchor"><a href="{% url 'landing:ver_organizadores' %}">ORGANIZADORES</a></div>
    </div>
  </div>
</div>
<div class="mobile-nav" id="mobile-nav">
  <a href="#" data-target="mobile-demo" class="sidenav-trigger">
    <i class="material-icons medium">menu</i></a>
  <ul id="mobile-demo" class="sidenav">
    <div class="logo-container">
      <li><a href="/"><img class="logo" src="{% static 'static_media/logo-white.svg' %}" alt="logo-plidi" /></a></li>
    </div>
        <li><a href="#">CONVOCATORIAS</a></li>
        <li><a href="#">TORNEOS</a></li>
        <li><a href="#">EQUIPOS</a></li>
        <li><a href="#">GALERIA</a></li>
        <li><a href="#">ORGANIZADORES</a></li>
  </ul>
</div>
