
  <form  action="{% url 'equipo:borrar_equipo' equipo.id %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="model-content">
    <h4>Eliminar {{ equipo.nombre }}</h4>
    <p>Esta seguro de que quiere eliminar "{{ object }} de manera permanente"?</p>
    </div>
    <div class="modal-footer">
      <button id="cancel" type="button" class="cancel cancel-delete" data-target="delete">Cancelar</button>
      <button class="delete-color" style="background-color: #F19800" type="submit">Eliminar</button>
    </div>
  </form>
<script>
$("#cancel").click(function() {
  $("#delete").modal('close');
})
</script>
