{% extends "base.html" %}
{% load staticfiles %}
{% block main %}

<div class="title-container">
  <h2 id="team-title">{{equipo.nombre}}</h2>
  <h2 class="hidden" id="player-title">Jugadoras - {{equipo.nombre}}</h2>
</div>
<div class="container">
  <div class="row tab-row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a id='info' href="#informacion">Información</a>
          <li class="tab col s3"><a id='player' href="#jugadoras">Jugadoras</a>
      </ul>
    </div>
  </div>
  <div class="row" id="informacion">
    <div class="col s12 m3">
      <img class="logo-equipo" src="{{equipo.logo.url}}">
    </div>
    <div class="col s12 m9">
      <div class="input-field col s12">
        <input disabled value="{{equipo.nombre}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
        <label for="disabled">Nombre de Equipo</label>
      </div>
      <div class="input-field col s12">
        <input disabled value="{{equipo.representante}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
        <label for="disabled">Coach</label>
      </div>
      <div class="input-field col s12 m6">
        <input disabled value="{{equipo.correo}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
        <label for="disabled">Correo Electrónico</label>
      </div>
      <div class="input-field col s12 m6">
        <input disabled value="{{equipo.telefono}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
        <label for="disabled">Teléfono</label>
      </div>
      <div class="input-field col s12">
        <input disabled value="{{equipo.cancha}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
        <label for="disabled">Cancha</label>
      </div>
      <div class="input-field col s12">
        <input disabled value="{{equipo.get_dia_display}} {{equipo.hora}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
        <label for="disabled">Horario</label>
      </div>
      <div class="input-field col s6 m3">
        <input disabled value="{{equipo.get_colorLocal_display}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
        <label for="disabled">Color Local</label>
      </div>
      <div class="input-field col s6 m3">
        <input disabled value="{{equipo.get_colorVisitante_display}}" id="disabled" type="text" style="color: #b4c0c6; border-bottom: 2px solid;">
        <label for="disabled">Color Visitante</label>
      </div>
      <div class="col s12">
       <a href="{% url 'equipo:lista_equipos' %}" class="cancel back">Regresar</a>
      </div>
    </div>
  </div>
  <div class="row" id="jugadoras">
    <div class="fixed-action-btn horizontal click-to-toggle">
      <a class="btn-floating btn-large red-background" href="{% url 'jugadora:agregar_jugadora' equipo.id %}">
          <i class="large material-icons waves-effect waves-light">add</i>
        </a>
    </div>
    <ul class="collection">
      {% for jugadora in jugadoras_equipo %}
      <li class="collection-item avatar">
        {% if jugadora.Imagen %}
          <img src="{{ jugadora.Imagen.url }}" alt="" class="circle" />
        {% else %}
          <img src="{% static 'static_media/default.jpg' %}" alt="" class="circle" />
        {% endif %}
        <span class="title">{{ jugadora.nombre}} {{ jugadora.apellido }}</span>
        <p><strong>Fecha de nacimiento:</strong> {{ jugadora.nacimiento }}</p>
        <div class="flex">
          <p><strong>Número:</strong> {{ jugadora.numero }}</p>&nbsp;&nbsp;
          <p><strong>Posición:</strong> {{ jugadora.get_Posicion_display }}</p>
        </div>
        <div class="secondary-content">
          <a class="modal-trigger delete-button" href="#borrarJugadorEquipoModal{{ jugadora.id}}">
            <i class="medium material-icons icon-orange">delete</i>
          </a>
          <a href="{% url 'jugadora:editar_jugadora' jugadora.id %}">
             <i class="medium material-icons icon-blue">mode_edit</i>
           </a>
        </div>
      </li>
      <div id="borrarJugadorEquipoModal{{ jugadora.id }}" class="modal">
        <form action="{% url 'equipo:eliminar_jugadora' equipo.id jugadora.id %}" method="post">
          {% csrf_token %}
          <div class="modal-content">
            <h4>Eliminar {{ jugadora.nombre }}</h4>
            <p>Esta seguro de que quiere eliminar "{{ jugadora.nombre }}" del equipo {{ equipo.nombre}}?</p>
          </div>
          <div class="modal-footer">
            <button id="cancel" type="button" class="modal-action modal-close waves-effect cancel cancel-delete" data-target="delete">Cancelar</button>
            <button class="submit" type="submit">Borrar</button>
        </form>
        </div>
      </div>
        {% empty %}
        <li>No hay jugadoras registradas en este equipo aun.</li>
      {% endfor %}
    </ul>
    <a href="{% url 'equipo:lista_equipos' %}" class="cancel back">Regresar</a>
  </div>
</div>
  <script>
  document.getElementById('player').onclick = function() {
    if (document.getElementById('player-title').className === 'hidden') {
      document.getElementById('player-title').classList.remove('hidden');
      document.getElementById('team-title').classList.add('hidden');
    }
  }

  document.getElementById('info').onclick = function() {
    if (document.getElementById('team-title').className === 'hidden') {
      document.getElementById('team-title').classList.remove('hidden');
      document.getElementById('player-title').classList.add('hidden');
    }
  }
  </script>

  {% endblock %}
