{% extends "base.html" %}
{% load staticfiles %}
{% block main %}

{% if messages %}
    {% for message in messages %}
        <div class="{{ message.tags }} messages">
            <span class="">{{ message }}</span>
        </div>
    {% endfor %}
{% endif %}

<form method="POST" enctype="multipart/form-data" novalidate action="{% url 'administrador:agregar_administrador' %}">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="input-field col s12 m6 l6">
                <input type="text" name="{{form.first_name.html_name}}" id="{{form.first_name.id_for_label}}" class="validate">
                <label for="{{form.first_name.id_for_label}}">{{form.first_name.label_tag}}</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input type="text" name="{{form.username.html_name}}" id="{{form.username.id_for_label}}" class="validate">
                <label for="{{form.username.id_for_label}}">{{form.username.label_tag}}</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input type="email" name="{{form.email.html_name}}" id="{{form.email.id_for_label}}" class="validate">
                <label for="{{form.email.id_for_label}}">{{form.email.label_tag}}</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input type="password" name="{{form.password.html_name}}" id="{{form.password.id_for_label}}" class="validate">
                <label for="{{form.password.id_for_label}}">{{form.password.label_tag}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m6 l6">
                <a class="waves-effect waves-light btn red boton" href="{% url 'administrador:lista_administrador' %}">CANCELAR</a>
            </div>
            <div class="col s6 m6 l6">
                <button class="waves-effect waves-light btn blue boton" type="submit">Enviar</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

