libVenv/
### Python ###
# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

### Django ###
*.log
*.pot
*.pyc
_pycache_/
local_settings.py
migrations/
_init_.py
media/

.env
.DS_Store
db.sqlite3
